<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Vizzu</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
      <h2>Cortes</h2>
<!---------------------------------->
<ion-card *ngFor="let item of lista" (click)="abreMais(item)">
  <img [src]="item.imagem"/>
  <ion-card-content>
    <ion-card-title>
      {{ item.titulo }}
      </ion-card-title>
    <p>
      {{ item.descricao }}

    </p>
<button ion-button block color="secondary" (click)= "openTodoAlert()">R${{ item.valor_text }}</button>
<button ion-button block (click)="abreMais()">{{ item.maisfem }}</button>

  </ion-card-content>
</ion-card>

<!---------------------------------------------------------->
<ion-card *ngFor="let item of lista1" (click)="abreMais1(item)">
  <img [src]="item.imagem"/>
  <ion-card-content>
    <ion-card-title>
      {{ item.titulo }}
      </ion-card-title>
    <p>
      {{ item.descricao }}

    </p>
<button ion-button round color="dark" block>R$ {{item.valor_text}}</button>
<button ion-button block (click)="abreMais1()" round>{{item.maismasc}}</button>



  </ion-card-content>



</ion-card>

<!-------------------------------------------->




</ion-content>
